url = "/ajax-filter"
layout = "default"
title = "Filter movies"

[filtermovies]
==
<?
    use Watchlearn\Movies\Models\Movie;
    use Watchlearn\Movies\Models\Genre;

    function onStart() { $this->prepareVars(); }
    function onFilterMovies() { $this->prepareVars(); }


    function prepareVars() {
    $options = post('Filter', []);

    $this['movies'] = Movie::listFrontEnd($options);
    $this['genres'] = Genre::all();

    $movies = Movie::all();
    $years = [];

    foreach($movies as $movie){
    $years[] = $movie->year;
    }

    $years = array_unique($years);

    $this['years'] = $years;
    }

?>
==
<div class="container">
    <h2>Filter movies</h2>
    <div class="row mt-3">
        <div class="col-3">
            {{ form_ajax('onFilterMovies', { update: { 'site/movies/movies': '#partialMovies' } }) }}
            <div id="MoviesFilter" class="movies-filter ui form">
                <div class="ui segment vertical">
                    <label>Genres</label>
                    {% for genre in genres %}
                    <div class="field">
                        <div class="form-check">
                            <input type="checkbox" name="Filter[genres][]" value="{{ genre.id }}" />
                            <label>{{genre.genre_title}}</label>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="field">
                        <label>Year</label>
                        <select class="form-select" name="Filter[year]">
                            <option value="">Select Year</option>
                            {% for year in years|sort %}
                            <option value="{{year}}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            {{ form_close() }}
        </div>
        <diV class="col-9">
            <div id="partialMovies">
                {% partial 'site/movies/movies' %}
            </div>
        </diV>
    </div>
</div>