url = "/movies/movie/:slug"
layout = "default"
title = "movie single"

==
<?
    use WatchLearn\Movies\Models\Movie;

    function onStart(){
        $this['movie'] = Movie::where('slug', '=', $this->param('slug'))->first();
}

?>

==
<div class="container mb-5">
    {% if movie %}
        <h2 class="">{{ movie.name }}</h2>

        <img class="mt-3" src="{{ movie.poster.thumb(200,auto) }}" alt="">

        <h4 class="mt-3">{{ movie.year }}</h4>

        <h3>Description</h3>
        {{ movie.description|raw }}

        <h3 class="mt-3">Actors</h3>

        {% for actor in movie.actors %}
            {{ actor.name }}
            {{ actor.lastname }} <br />
        {% endfor %}

        <h3 class="mt-5">Gallery</h3>
        <div class="col-6">
            <ul class="list-group list-group-horizontal">
                {% for image in movie.movie_gallery %}
                    <li class="list-group-item list-group-item-dark">
                        <a href="{{ image.path }}">
                            <img src="{{ image.thumb(80,80, { 'mode':'crop'}) }}" alt="">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <h3 class="mt-4">Genres</h3>

        {% for genre in movie.genres %}
            <a href="/genres/{{ genre.slug }}">{{ genre.genre_title }}</a><br />
        {% endfor %}


    {% else %}
        {{ notFoundMessage }}
    {% endif %}
</div>

