<header class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <div class="container-fluid">
        <h1 class="navbar-brand text-white">October Movies</h1>
            <nav class="navbar-expand">
                    <div class="navbar-nav">
                        <a class="nav-link text-white" href="{{ 'index'|page }}">Home</a>
                        <a class="nav-link text-white" href="{{ 'movies'|page }}">Movies</a>
                    </div>
            </nav>
    </div>
</header>


